.about-container {
    position: relative;
    background-color: var(--tertiary-color);
    margin-top: calc(100vh);
    min-height: 180vh;

    .about-description {
        p {
            margin-top: 0.5em;
        }
    }
}
