@import './variable';
.footer-container {
    background-color: var(--background-color);
    text-align: center;
    footer {
        margin: 0 auto;
        width: 100%;
        @media (min-width: $lg) {
            width: 70%;
        }
    }
}
