header {
    height: calc(100vh - 4em);

    .profile-image-holder {
        width: 100%;
        height: 25em;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: var(--profile-url);
        overflow: hidden;
        background-size: cover;
        background-position: center;
        border: 5px dotted var(--text-color);
        animation: morph 4s infinite alternate, randomize 4s infinite alternate;
        transition: background-image 1s ease;
    }
    .download-button {
        @apply px-2 py-3 bg-accent-color text-text-reverse-color rounded-lg;
        transition: all 0.5s ease;
    }
    .download-button:hover {
        box-shadow: 0 0 7px 1px var(--text-color);
        transform: scale(1.05);
    }
    .hire-button {
        @apply px-2 py-3 text-text-color rounded-lg;
        border: 2px solid var(--text-color);
        transition: all 0.3s ease;
        &:hover {
            background-color: var(--text-color);
            color: var(--text-reverse-color);
            transform: scale(1.1);
        }
    }
    .hire-button:active,
    .download-button:active {
        transform: scale(0.95);
    }
    // button:hover{

    // }
}

@keyframes morph {
    0% {
        border-radius: 70% 30% 40% 60%/50% 60% 40% 70%;
    }
    50% {
        border-radius: 40% 70% 50% 30%/70% 40% 60% 30%;
    }
    100% {
        border-radius: 70% 30% 40% 60%/50% 60% 40% 70%;
    }
}

@keyframes randomize {
    0%,
    100% {
        border-radius: calc(50% + (rand() * 20%)) calc(50% + (rand() * 20%)) calc(50% + (rand() * 20%)) calc(50% + (rand() * 20%)) / calc(50% + (rand() * 20%)) calc(50% + (rand() * 20%)) calc(50% + (rand() * 20%)) calc(50% + (rand() * 20%));
    }
    50% {
        border-radius: calc(50% + (rand() * 20%)) calc(50% + (rand() * 20%)) calc(50% + (rand() * 20%)) calc(50% + (rand() * 20%)) / calc(50% + (rand() * 20%)) calc(50% + (rand() * 20%)) calc(50% + (rand() * 20%)) calc(50% + (rand() * 20%));
    }
}
