@import './variable';
$menu-link-active-colors: var(--primary-color), var(--secondary-color), var(--accent-color);
.tech-stack-holder {
    // height: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
    place-items: center;
}

.menu-hover-fill {
    li {
        position: relative;
        padding: 0.5em;
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: -1rem;
            width: 0.25rem;
            height: 100%;
            background: var(--menu-link-active-color);
            transition: 0.6s;
        }

        button {
            --menu-link-color: var(--text-reverse-color);
            text-transform: uppercase;
            position: relative;
            background: linear-gradient(var(--menu-link-active-color) 0 100%) left / 0 no-repeat;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            transition: background-size 0.45s 0.04s;
            font-size: 1.2em;

            &::before {
                position: absolute;
                content: attr(data-text);
                z-index: -1;
                color: var(--menu-link-color);
            }
        }

        @for $i from 1 through length($menu-link-active-colors) {
            &:nth-child(#{$i}) {
                --menu-link-active-color: #{nth($menu-link-active-colors, $i)};
            }
        }

        &:hover {
            &::before {
                left: calc(100% + 1rem);
            }

            button {
                background-size: 100%;
            }
        }
        &.active-tab {
            &::before {
                left: calc(100% + 1rem);
            }
            button {
                background-size: 100%;
            }
        }
    }
}

.marginTop-5 {
    margin-top: 1.25rem;
}
.textCenter {
    text-align: center;
}

.skill-qualification-list {
    li {
        width: 230px;
        @media (min-width: $md) {
            width: auto;
        }
    }
}
