@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text-color: #0c1211;
        --background-color: #e8e8e8;
        --primary-color: #31d3b4;
        --secondary-color: #84a8d2;
        --accent-color: #7dc0b5;
    }
    :root[data-theme='dark'] {
        --text-color: #edf3f2;
        --background-color: #090b0b;
        --primary-color: #b0c8c4;
        --secondary-color: #2d517b;
        --accent-color: #36e9cb;
    }
}
* {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    color: var(--text-color);
}
